@charset "utf-8";

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
}

.clear {
	clear: both;
}

.obscurator {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.50);
}

nav {
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.navbar-extended {
	width: 100%;
	height: 72px;
	background-color: white;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);
	-o-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);	
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);
}

.brandlogo-extended {
	position: relative;
	float: left;
	width: 20%;
	height: 72px;
}

.brandlogo-extended a {
	height: 72px;
	position: relative;
	float left;
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
	color: #181F1C;
	padding-left: 20px;
	text-decoration: none;
}

.brandlogo-extended a > span {
	font-family: 'Cookie', cursive;
	font-size: 40px;
	letter-spacing: 1px;
}

#ul-extended {
	position: relative;
	float: right;
	width: 80%;
	height: 72px;
	margin: 0;
	padding: 0;
}

#ul-extended > li {
	position: relative;
	float: right;
	display: inline-block;
	list-style-type: none;
}

#ul-extended > li > a {
	height: 72px;
	text-decoration: none;
	color: #181F1C;
	font-size: 1em;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

#ul-extended > li > a:hover {
	background-color: rgba(0,0,0,0.3);
	color: white;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.flyout {
	margin-right: 20px;
}

.flyout-content {
	display: none;
	width: 340px;
	height: 144px;
	position: fixed;
	right: 20px;
	background-color: white;
	padding: 0;
	margin: 10px 0 0 0;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);
	-o-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);	
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);
}

.flyout-content > li {
	display: inline-block;
	float: left;
	position: relative;
	list-style-type: none;
}

.flyout-content > li > a {
	width: 320px;
	height: 72px;
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
	color: #181F1C;
	padding: 0 10px;
	text-align: left;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.flyout-content > li {
	
}

.flyout-content > li > a:hover {
	background-color: rgba(0,0,0,0.3);
	color: white;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.navbar-mobile {
	display: none;
}

.address {
	width: 60%;
	height: 40px;
	display: table;
	position: relative;
	float: left;
}

.address a {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 16px;
	font-weight: 400;
	margin-left: 40px;
	padding: 10.5px 10px;
}

.quick-contact {
	position: absolute;
	top: 72px;
	width: 100%;
	height: 40px;
	background-color: #181F1C;
	box-shadow: 1px 1px 3px black inset;
	z-index: 99;
}

.quick-contact ul {
	width: auto;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	float: right;
}

.quick-contact li {
	display: inline;
	position: relative;
	height: 40px;

}

.quick-contact #li-stef {
	margin-right: 40px;
}

.quick-contact a {
	text-decoration: none;
	float: left;
	font-family: 'Montserrat', sans-serif;
	padding: 10.5px 10px;
	font-size: 16px;
	color: white;
	text-decoration: none;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.quick-contact a:hover {
	cursor: pointer;
	background-color: #329932;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.quick-contact-mobile {
	display: none;
}

@media only screen and (max-width : 992px) {

	.navbar-extended {
		display: none;
	}

	.navbar-mobile {
		display: block;
		width: 100%;
		height: 62px;
		background-color: white;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		overflow: hidden;
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
		-ms-transition-duration: 0.5s;
		transition-duration: 0.5s;
		-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
			0 1px 5px 0 rgba(0,0,0,0.12),
			0 3px 1px -2px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
			0 1px 5px 0 rgba(0,0,0,0.12),
			0 3px 1px -2px rgba(0,0,0,0.2);
		-o-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
			0 1px 5px 0 rgba(0,0,0,0.12),
			0 3px 1px -2px rgba(0,0,0,0.2);
		-ms-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
			0 1px 5px 0 rgba(0,0,0,0.12),
			0 3px 1px -2px rgba(0,0,0,0.2);	
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
			0 1px 5px 0 rgba(0,0,0,0.12),
			0 3px 1px -2px rgba(0,0,0,0.2);
	}

	.brandlogo-mobile {
		width: 30%;
		height: 62px;
		margin: 0 35%;
		display: table;
		position: relative;
		float: left;
	}

	.brandlogo-mobile > a {
		height: 62px;
		width: 100%;
		font-size: 20px;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		color: #181F1C;
		text-decoration: none;
	}

	.brandlogo-mobile a > span {
		font-family: 'Cookie', cursive;
		font-size: 40px;
		letter-spacing: 1px;
	}

	#btn-menu,
	#btn-menu-close {
		position: fixed;
		width: 42px;
		height: 42px;
		top: 10px;
		left: 10px;
		z-index: 99999;
	}

	#btn-menu-close {
		display: none;
	}

	#btn-menu > i,
	#btn-menu-close > i {
		font-size: 42px;
		color: #181F1C;
	}

	#btn-contact,
	#btn-contact-close {
		position: fixed;
		width: 42px;
		height: 42px;
		top: 10px;
		right: 10px;
		z-index: 99999;
	}

	#btn-contact-close {
		display: none;
	}

	#btn-contact i,
	#btn-contact-close i {
		font-size: 42px;
		color: #181F1C;
	}

	#ul-mobile {
		width: 100%;
		height: 0;
		overflow-y: auto;
		margin: 0;
		padding: 0;
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
		-ms-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}

	#ul-mobile li {
		width: 100%;
		height: 50px;
		list-style-type: none;
		display: table;
	}

	#ul-mobile li a {
		width: 100%;
		text-decoration: none;
		color: #181F1C;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		border-top: 1px solid rgba(0,0,0,0.2);
	}

	.flyout-mobile {
		float: left;
		overflow: hidden;
	}

	.flyout-mobile > .flyout-content-mobile {
		display: none;
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.flyout-mobile > a {
		width: 100%;
		height: 19px;
		padding: 15.5px 0;
		float: left;

	}

	.mobile-contact {
		width: 100%;
		height: 300px;
		position: relative;
		float: left;
		margin: 0;
		padding: 0;
	}

	#ul-contact {
		width: 100%;
		height: 300px;
		margin: 0;
		padding: 0;
		overflow-y: auto;
		background-color: #181F1C;
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
		-ms-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}

	#ul-contact li {
		width: 100%;
		float: left;
	}

	#ul-contact li > p {
		text-align: center;
		color: white;
		letter-spacing: 1px;
		font-family: 'Montserrat', sans-serif;
	}

	.providers {
		width: 100%;
		float: left;
		margin: 20px 0;
		display: table;
	}

	.providers a {
		float: left;
		width: 25%;
		text-align: center;
		padding: 0;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		border: 0px solid rgba(255,255,255,0.2);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	.providers a:hover {
		color: #181F1C;
		background-color: white;
	}

	a#telegram-button > i {
		margin-top: 13px;
	}

	.providers a > i {
		font-size: 36px;
		margin-top: 15px;
	}

	.quick-contact {
		display: none;
	}
}

@media only screen and (max-width : 600px) {

	nav .nav-bar {
		height: 52px;
	}

	nav .nav-bar .brand-logo {
		width: 50%;
		margin: 0 25%;
	}

	nav .nav-bar .link-extended {
		display: none;
	}

	nav .nav-bar .button-menu-open {
		top: 2px;
	}

	nav .nav-bar .link-mobile .inner-nav-bar-menu {
		height: 52px;
	}

	nav .nav-bar .link-mobile .inner-nav-bar-menu .button-menu-close {
		display: block;
		position: absolute;
		top: 2px;
		left:10px;
		width: 48px;
		height: 48px;
	}

	nav .nav-bar .link-mobile .inner-nav-bar-menu .button-menu-close i {
		font-size: 48px;
		color: #181F1C;
	}

	nav .nav-bar .link-mobile .inner-nav-bar-menu .brand-logo a {
		font-size: 20px;
		padding: 3.5px 0;
		display: table-cell;
		vertical-align: middle;
	}

	nav .nav-bar .link-mobile ul {
		width: 100%;
		height: auto;
		position: relative;
		float: left;
		margin: 0;
		padding: 0;
	}

	nav .nav-bar .link-mobile li {
		width: 100%;
		position: relative;
		float: left;
		list-style-type: none;
	}

	nav .nav-bar .link-mobile #li-servizi a:hover {
		background-color: white;
		color: #181F1C;
	}

	nav .nav-bar .link-mobile a {
		width: 100%;
		position: relative;
		float: left;
		color: #181F1C;
		text-align: center;
		text-decoration: none;
		font-size: 16px;
		padding: 15px 0;
		-webkit-transition-duration: 0.2s;
		-moz-transition-duration: 0.2s;
		-o-transition-duration: 0.2s;
		-ms-transition-duration: 0.2s;
		transition-duration: 0.2s;
	}

	nav .nav-bar .link-mobile a:hover {
		background-color: #181F1C;
		color: white;
		-webkit-transition-duration: 0.2s;
		-moz-transition-duration: 0.2s;
		-o-transition-duration: 0.2s;
		-ms-transition-duration: 0.2s;
		transition-duration: 0.2s;
	}

	nav .nav-bar .link-mobile a sup {
		border-radius: 4px;
		border: 1px solid #181F1C;
	}

	.quick-contact {
		display: none;
	}

	.quick-contact-mobile {
		top: 52px;
	}

	.quick-contact-mobile .providers a {
		width: 50%;
	}

	.quick-contact-mobile .providers .telefono,
	.quick-contact-mobile .providers .whatsapp {
		border-bottom: 0;
	}
}
	

@media only screen and (max-width : 340px) {

	nav .nav-bar .brand-logo {
		width: 75%;
		margin: 0;
		position: relative;
		float:right;
	}

}
/*Header*/