
.parallax-catalog {
	height: 300px;
	width: 100%;
	margin-top: 112px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
}

.parallax-catalog h1,
.mobile-img-catalog h1 {
	position: absolute;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 100px;
    width: 100%;
    text-align: center;
    margin: 89px 0;
    text-shadow: 0 0 6px black;
}

.parallax-catalog {
	background-image: url("ananas-head-catalog-re.jpg");
}

.text-index-catalog {
	color: white;
	text-shadow: 1px 1px 3px #000;
}

.text-index-catalog h1 {
	width: 85%;
	position: relative;
	float: left;
	font-size: 60px;
	letter-spacing: 2px;
	font-weight: 400;
	text-align: right;
	margin: 220px 0 0 0;
	padding: 15px 15% 15px 0;
	font-family: 'Tangerine', cursive;
	background-color: rgba(0,0,0,0.6);
}

.mobile-img-catalog {
	display: none;
	float: left;
	width: 100%;
	height: 300px;
	margin-top: 62px;
	overflow: hidden;
	background-color: black;
}

.mobile-img-catalog img {
	width: 100%;
	height: auto;
    margin: 0 auto;
}

.container {
	position: relative;
	float: left;
	width: 95%;
	height: 95%;
	margin: 2.5%;
}

.elevator-desktop {
	width: 40px;
	height: 60px;
	position: fixed;
	right: 200px;
	bottom: -70px;
	z-index: 99999;
	border-radius: 10px 10px 0 0;
	background-color: rgba(47,53,50,0.5);
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.elevator-desktop:hover {
	background-color: #329932;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.elevator-desktop .arrow-up {
	width: 40px;
	height: 40px;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: white;
}

.elevator-mobile {
	display: none;
}

.introduct {
	width: 100%;
	height: 100%;
	float: left;
}

.introduct h1 {
	text-align: center;
	font-size: 1.8em;
}

.introduct h5 {
	text-align: center;
	font-size: 1.2em;
	color: #181F1C;
	font-weight: 400;
}

#aggiornamento {
	width: 100%;
	height: auto;
	border-radius: 20px;
	margin: 20px 0;
}

#aggiornamento p {
	text-align: center;
	color: #329932;
}

.catalogue {
	width: 100%;
	height: 100%;
	float: left;
}

.fruit,
.verdure,
.ortages {
	width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    margin: 20px 0;
}

.catalog-categories {
	width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    margin: 20px 0;
}

.fruit {
	color: #C02040;
}

.verdure {
	color: #329932;
}

.ortages {
	color: #942525;
}

.fruit h3,
.verdure h3,
.ortages h3 {
	display: block;
	text-align: center;
	font-size: 1.4em;
}

.link {
	width: 49%;
    height: auto;
    float: left;
    margin: 1.5% 0.5%;
    background-color: #f3f3f3;
    overflow: hidden;
    -webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.link:hover {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.link:active {
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.2);
	-o-box-shadow: 0 0 0 rgba(0,0,0,0.2);
	-ms-box-shadow: 0 0 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 0 rgba(0,0,0,0.2);
	-webkit-transition: 0s ease-in-out;
	-moz-transition: 0s ease-in-out;
	-o-transition: 0s ease-in-out;
	-ms-transition: 0s ease-in-out;
	transition: 0s ease-in-out;
}

.link-element {
	width: 24.7%;
    height: auto;
    float: left;
    margin: 0.15%;
    background-color: #f3f3f3;
    -webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.link-element:hover {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-moz-box-shadow:  0 0 5px rgba(0,0,0,0.5);
	-o-box-shadow:  0 0 5px rgba(0,0,0,0.5);
	-ms-box-shadow:  0 0 5px rgba(0,0,0,0.5);
	box-shadow:  0 0 5px rgba(0,0,0,0.5);
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.link-active:active {
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.2);
	-o-box-shadow: 0 0 0 rgba(0,0,0,0.2);
	-ms-box-shadow: 0 0 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 0 rgba(0,0,0,0.2);
	-webkit-transition: 0s ease-in-out;
	-moz-transition: 0s ease-in-out;
	-o-transition: 0s ease-in-out;
	-ms-transition: 0s ease-in-out;
	transition: 0s ease-in-out;
}

.catalogue-elem {
	width: 100%;
	height: auto;
	overflow: hidden;
	float: left;
}

.catalogue-categories {
	width: 100%;
    height: auto;
    overflow: hidden;
    float: left;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; 
}

.catalogue-categories:hover {
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.catalogue-categories:active {
	-webkit-transition: 0s ease-in-out;
	-moz-transition: 0s ease-in-out;
	-o-transition: 0s ease-in-out;
	-ms-transition: 0s ease-in-out;
	transition: 0s ease-in-out;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

.catalog-categories h3 {
	width: 30%;
	margin: 20px 35%;
	text-align: center;
	font-size: 1.4em;
	color: white;
	border-radius: 20px;
	background-color: #329932;
	padding: 10px 0;
	text-shadow: 0 2px 6px rgba(0,0,0,0.5);
	box-shadow: 0 2px 6px rgba(0,0,0,0.5);

}

.img-cont {
	margin: 20px 0;
}

.img-cont .img-categories,
.img-cont .img-catalog-element {
	width: 200px;
    height: auto;
	margin: 0 auto;
	display: table-cell;
}

.img-text {
	width: 100%;
	height: 20%;
	margin: 0 auto;
	float: left;
	border-top: 1px solid rgba(0,0,0,0.2);
}

.img-text h2 {
	width: 100%;
	text-align: center;
	color: white;
	padding-top: 10px;
	margin: 0;
}

.text-img-catalog {
	width: 100%;
	float: left;
	text-align: center;
	color: #181F1C;
	margin: 20px 0 5px 0;
	font-size: 1.4em;
	font-weight: 700;
	letter-spacing: 1px;
}

.img-cont .i-disp {
	width: 100%;
	text-align: center;
	margin-top: 15px;
	color: #329932;
}

.img-cont .i-not-disp {
	width: 100%;
	text-align: center;
	margin-top: 15px;
	color: #993232;
}

#new {
	color: orange;
    text-transform: capitalize;
}

h5 span {
	color: #181F1C;
	font-size: 1.4em;
}

h2 span {
	font-size: 0.5em;
	text-transform: uppercase;

}

.undertext-img-catalog  {
	width: 100%;
	float: left;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 20px 0;
	font-size: 0.9em;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}

.disp {
	color: #329932;
}

.not-disp {
	color: #993232;
}

/*Page before-after*/
.page-bef-aft {
	float: left;
	width: 100%;
	height: 50px;
	margin: 0;
	overflow: hidden;
	z-index: 999;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

#page-before,
#current-page,
#page-after {
	float: left;
}

#page-before,
#page-after {
	width: 49.5%;
	height: 50px;
	background-color: #181F1C;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

#page-before {
	margin: 0 1% 0 0;
}

#page-before:hover,
#page-after:hover {
	cursor: pointer;
	background-color: #616161;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

#current-page {
	width: 50%;
	height: 50px;
}

#page-before h5,
#current-page h5,
#page-after h5 {
	width: 100%;
    margin: 0;
    font-size: 13px;
    padding: 17px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#current-page p {
	width: 1%;
	height: 50px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #181F1C;
	font-weight: 600;
	font-size: 1.4em;
}

@media only screen and (max-width : 992px) {

	.parallax-catalog {
		display: none;
	}

	.mobile-img-catalog {
		display: block;
		float: left;
		width: 100%;
		height: 300px;
		margin-top: 62px;
		overflow: hidden;
	}

	.mobile-img-catalog img {
		width: 100%;
		height: auto;
	    margin: 0 auto;
	}

	.mobile-img-catalog h1 {
	    font-size: 80px;
	    margin: 101.5px 0;
	}

	.elevator-desktop {
		display: none;
	}

	.elevator-mobile {
		display: block;
		width: 40px;
		height: 40px;
		position: fixed;
		right: -50px;
		bottom: 50px;
		z-index: 99999;
		background-color: rgba(47,53,50,0.5);
		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		-ms-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
	}

	.elevator-mobile:active {
		background-color: #329932;
		-webkit-transition: 0s ease-in-out;
		-moz-transition: 0s ease-in-out;
		-o-transition: 0s ease-in-out;
		-ms-transition: 0s ease-in-out;
		transition: 0s ease-in-out;
	}

	.elevator-mobile .arrow-up {
		width: 40px;
		height: 40px;
		font-size: 24px;
		font-weight: 400;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		color: white;
	}

	.container {
		width: 100%;
		margin: 2.5% 0;
		margin-top: calc(2.5% + 60px);
	}

	.link-element {
		width: 33%;
	}

	.link-element:hover {
		-webkit-box-shadow: none;
		-moz-box-shadow:  none;
		-o-box-shadow:  none;
		-ms-box-shadow:  none;
		box-shadow:  none;
	}

	.container {
		margin-top: 0;
	}
}

@media only screen and (max-width : 750px) {
	.img-cont .img-categories,
	.img-cont .img-catalog-element {
		width: 150px;
	}
}

@media only screen and (max-width : 600px) {

	.mobile-img-catalog {
		float: left;
		width: 100%;
		height: 200px;
		margin-top: 62px;
		overflow: hidden;
	}

	.mobile-img-catalog img {
		width: 100%;
		height: auto;
	    margin: 0 auto;
	}

	.mobile-img-catalog h1 {
		font-size: 50px;
	    margin: 69.5px 0;
	}

	.container {
		margin-top: 0;
	}

	.link-element {
		width: 49.5%;
		margin: 0.25%;
	}
	
	.img-cont .img-categories,
	.img-cont .img-catalog-element {
		width: 150px;
	}
}

@media only screen and (max-width : 350px) {
	.img-cont .img-categories,
	.img-cont .img-catalog-element {
		width: 100px;
	}
}