.introduct h1 {
    color: #c02040;
}

.text-img-frt {
	background-color: rgba(192,32,64,0.8);
	border-top: 1px solid #C02040;
	border-bottom: 1px solid #C02040;
}

.right-column-text-img-vrd {
	background-color: rgba(50,153,50,0.8);
	border-top: 1px solid #329932;
	border-bottom: 1px solid #329932;
}

.right-column-text-img-ort {
	background-color: rgba(148,37,37,0.8);
	border-top: 1px solid #942525;
	border-bottom: 1px solid #942525;
}

/*Page before-after*/
.page-bef-aft {
	float: left;
	width: 40%;
	height: 50px;
	margin: 30px 30%;
	border: 1px solid #181f1c;
	border-radius: 20px;
	overflow: hidden;
	z-index: 999;
}

#page-before,
#current-page,
#page-after {
	float: left;
}

#page-before,
#page-after {
	width: 25%;
	height: 50px;
	background-color: #C02040;
}

#page-before:hover,
#page-after:hover {
	background-color: #940622;
}

#current-page {
	width: 50%;
	height: 50px;
}

#page-before i,
#current-page i,
#page-after i {
	width: 1%;
	height: 50px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}

#current-page p {
	width: 1%;
	height: 50px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #C02040;
	font-weight: 600;
	font-size: 1.4em;
}

@media screen and ( max-width:992px ) {
	.page-bef-aft {
	    width: 60%;
	    margin: 30px 20%;
	}
}

@media screen and ( max-width:600px ) {
	.page-bef-aft {
	    width: 95%;
	    margin: 30px 2.5%;
	}
}
/*Page before-after*/