.right-column-container {
	width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -25.5%;
    z-index: 9;
    -webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.right-column-container-tab,
.right-column-container-mob {
	display: none;
}

.right-column-list {
	position: relative;
	width: 85%;
	height: 100%;
	float: left;
	background-color: rgba(24,31,28,1);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.right-column-list h3 {
	width: 100%;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 1.2em;
	padding: 25px 0;
	margin: 0;
	background-color: #181F1C;
}

.right-column-menu-container {
	width: 15%;
	height: 100%;
	float: left;
	margin-top: 132px;
}

.right-column-menu-open,
.right-column-menu-close {
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
	background-color: #181F1C;
	border-radius: 10px 0 0 10px;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.right-column-menu-close {
	display: none;
}

.right-column-menu-open:hover,
.right-column-menu-close:hover {
	cursor: pointer;
	background-color: #329932;
}

.right-column-menu-open img,
.right-column-menu-close img {
	height: 30px;
	display: table;
	margin: 10px auto;
}

.container {
	position: relative;
	float: left;
	width: 95%;
	height: 95%;
	margin: 2.5%;
	margin-top: calc(2.5% + 112px);
}

.elevator {
	width: 40px;
	height: 60px;
	position: fixed;
	right: 100px;
	bottom: -60px;
	z-index: 99999;
	border-radius: 10px 10px 0 0;
	background-color: #181F1C;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 6px rgba(0,0,0,0.5);
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.elevator:hover {
	background-color: #329932;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.elevator i {
	width: 40px;
	height: 40px;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: white;
}

.introduct {
	width: 100%;
	height: 100%;
	float: left;
	border-bottom: 1px solid #181F1C;
}

.introduct h1 {
	text-align: center;
	font-size: 1.8em;
	color: #181F1C;
}

.introduct h5 {
	text-align: center;
	font-size: 1.2em;
	color: #181F1C;
	font-weight: 400;
}

#aggiornamento {
	width: 100%;
	height: auto;
	border-radius: 20px;
	border: 1px solid #329932;
	margin: 20px 0
}

#aggiornamento p {
	text-align: center;
	color: #329932;
}

.catalogue {
	width: 100%;
	height: 100%;
	float: left;
}

.fruit,
.verdure,
.ortages {
	width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px 0;
   -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-o-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.catalog-categories {
	width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px 0;
   -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-o-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.fruit {
	color: #C02040;
}

.verdure {
	color: #329932;
}

.ortages {
	color: #B92F2F;
}

.fruit h3,
.verdure h3,
.ortages h3 {
	display: block;
	text-align: center;
	font-size: 1.4em;
}

.catalogue-elem {
	width: calc(24% - 2px);
	height: 240px;
	border-radius: 20px;
	overflow: hidden;
	float: left;
	margin: 1.5% 0.5%;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-o-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.catalogue-elem:hover {
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-box-shadow: 0 9px 18px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 9px 18px rgba(0,0,0,0.5);
	-o-box-shadow: 0 9px 18px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 9px 18px rgba(0,0,0,0.5);
	box-shadow: 0 6px 18px rgba(0,0,0,0.5);
}

.catalogue-elem:active {
	-webkit-transition: 0s ease-in-out;
	-moz-transition: 0s ease-in-out;
	-o-transition: 0s ease-in-out;
	-ms-transition: 0s ease-in-out;
	transition: 0s ease-in-out;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

.catalogue-categories {
	width: calc(32.33% - 2px);
	height: 240px;
	border-radius: 20px;
	overflow: hidden;
	float: left;
	margin: 1.5% 0.5%;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-o-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.catalogue-categories:hover {
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-box-shadow: 0 9px 18px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 9px 18px rgba(0,0,0,0.5);
	-o-box-shadow: 0 9px 18px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 9px 18px rgba(0,0,0,0.5);
	box-shadow: 0 6px 18px rgba(0,0,0,0.5);
}

.catalogue-categories:active {
	-webkit-transition: 0s ease-in-out;
	-moz-transition: 0s ease-in-out;
	-o-transition: 0s ease-in-out;
	-ms-transition: 0s ease-in-out;
	transition: 0s ease-in-out;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

.list-column-categories {
	width: calc(95% - 2px);
	height: 240px;
	overflow: hidden;
	float: left;
	margin: 1.5% 2.5%;
	background-color: white;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-o-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.list-column-categories:hover {
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-box-shadow: 0 9px 18px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 9px 18px rgba(0,0,0,0.5);
	-o-box-shadow: 0 9px 18px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 9px 18px rgba(0,0,0,0.5);
	box-shadow: 0 6px 18px rgba(0,0,0,0.5);
}

.list-column-categories:active {
	-webkit-transition: 0s ease-in-out;
	-moz-transition: 0s ease-in-out;
	-o-transition: 0s ease-in-out;
	-ms-transition: 0s ease-in-out;
	transition: 0s ease-in-out;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

#frutta-list-column,
#verdura-list-column,
#ortaggi-list-column {
	margin-top: 0;
}

.frt {
	border: 1px solid #C02040;
}

.frt-text {
	background-color: #C02040;
}

.vrd {
	border: 1px solid #329932;
}

.vrd-text {
	background-color: #329932;
}

.ort {
	border: 1px solid #B92F2F;
}

.ort-text {
	background-color: #B92F2F;
}

.img-cont {
	width: 100%;
	height: 80%;
	margin: 0 auto;
	display: table;
	float: left;
}

.img-cont .img {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}

.img-cont img {
	width: 170px;
	margin: 0 auto;
	display: table-cell;
}

.img-cont .img-categories {
	width: 250px;
	margin: 0 auto;
	display: table-cell;
}

.img-cont .img-list-column {
	width: 190px;
	margin: 0 auto;
	display: table-cell;
}

.img-text {
	width: 100%;
	height: 20%;
	margin: 0 auto;
	float: left;
	border-top: 1px solid rgba(0,0,0,0.2);
}

.img-text h2 {
	width: 100%;
	text-align: center;
	color: white;
	padding-top: 10px;
	margin: 0;
}

.text-img-mob { 
	display: none;
}

@media only screen and (max-width : 992px) {

	.right-column-container-tab {
		display: block;
		width: 40%;
	    height: 100%;
	    position: fixed;
	    top: 0;
	    right: -34%;
	    z-index: 9;
	    -webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		-ms-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
	}

	.right-column-container,
	.right-column-container-mob {
		display: none;
	}

	.right-column-list-tab {
		position: relative;
		width: 85%;
		height: 100%;
		float: left;
		background-color: rgba(24,31,28,1);
		-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		-o-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		-ms-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		box-shadow: 0 0 6px rgba(0,0,0,0.5);
	}

	.right-column-list-tab h3 {
		width: 100%;
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-size: 1.2em;
		padding: 20px 0;
		margin: 0;
		background-color: #181F1C;
	}

	.right-column-menu-container-tab {
		width: 15%;
		height: 100%;
		float: left;
		margin-top: 92px;
	}

	.right-column-menu-open-tab,
	.right-column-menu-close-tab {
		display: block;
		position: relative;
		float: left;
		width: 100%;
		height: 50px;
		background-color: #181F1C;
		border-radius: 10px 0 0 10px;
		-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		-o-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		-ms-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		box-shadow: 0 0 6px rgba(0,0,0,0.5);
	}

	.right-column-menu-close-tab {
		display: none;
	}

	.right-column-menu-open-tab:hover,
	.right-column-menu-close-tab:hover {
		cursor: pointer;
		background-color: #329932;
	}

	.right-column-menu-open-tab img,
	.right-column-menu-close-tab img {
		height: 30px;
		display: table;
		margin: 10px auto;
	}

	.container {
		margin-top: calc(2.5% + 72px);
	}

	.catalogue-elem {
		width: calc(48% - 2px);
		margin: 1.5% 1%;
	}

	.text-img-mob {
		display: block;
	    position: absolute;
	    width: 47.8%;
	    font-size: 25px;
	    background-color: rgba(192,32,64,0.8);
	    padding: 20px 0;
	    margin: 84px 0;
	    text-align: center;
	    color: white;
	    text-shadow: 0 0 3px black;
	    border-top: 1px solid #C02040;
	    border-bottom: 1px solid #C02040;
	}

	.img-cont img {
	    width: auto;
	    height: 230px;
	    margin-top: 5px;
	}

	.img-cont .img img {
		width: auto;
		height: 300px;
		margin-top: 5px;
	}

	#melagrano img,
	#cavolfiore-b img,
	#canasta img,
	#borlotto img,
	#pesca img,
	#susina-n img,
	#italia img,
	#matilde img,
	#cavolfiore-v img,
	#cicoria img,
	#cipolla-bianca img,
	#casolino img,
	#pepe-friggitel img,
	#minianguria img,
	#ficodindia img,
	#limone-g img,
	#limone-v img,
	#mandarance img,
	#nova img,
	#tarocco img,
	#basilico img,
	#broccolo img,
	#cime img,
	#lattuga img,
	#indivia img,
	#prezzemolo img,
	#rucola img,
	#patata img,
	#zucca-spinosa img,
	#mandarino img,
	#miyagawa img,
	#melacotogna img,
	#vittoria img,
	#red-globe img,
	#spinacia img,
	#aglio img,
	#carciofo img,
	#cipolla-dorata img,
	#piattella img,
	#finocchio img,
	#melanzana-viola img,
	#pomo-tondo img,
	#verza img,
	#zucca-gialla img,
	#zucchina-verde img,
	#zucchina-lunga img,
	#cetrangolo img,
	#pepe-cornetto-rosso img {
		width: auto;
		height: 300px;
		margin-top: 5px;
	}

}

@media only screen and (max-width : 600px) {

	.right-column-container-mob {
		display: block;
		width: 100%;
	    height: 100%;
	    position: fixed;
	    top: 0;
	    right: -85%;
	    z-index: 9;
	    -webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		-ms-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
	}

	.right-column-container,
	.right-column-container-tab {
		display: none;
	}

	.right-column-list-mob {
		position: relative;
		width: 85%;
		height: 100%;
		float: left;
		background-color: rgba(24,31,28,1);
		-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		-o-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		-ms-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		box-shadow: 0 0 6px rgba(0,0,0,0.5);
	}

	.right-column-text-img-vrd-mob,
	.right-column-text-img-ort-mob {
	    display: block;
	    position: absolute;
	    width: 94.4%;
	    font-size: 24px;
	    padding: 20px 0;
	    margin: 40px 0;
	    text-align: center;
	    color: white;
	    text-shadow: 0 0 3px black;
	    border-top: 1px solid #181F1C;
	    border-bottom: 1px solid #181F1C;
	}

	.right-column-text-img-vrd-mob {
		background-color: rgba(50,153,50,0.8);
		border-top: 1px solid #329932;
	    border-bottom: 1px solid #329932;
	}

	.right-column-text-img-ort-mob {
		background-color: rgba(129,32,32,0.8);
		border-top: 1px solid #812020;
	    border-bottom: 1px solid #812020;
	}

	.right-column-list-mob h3 {
		width: 100%;
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-size: 1.2em;
		padding: 20px 0;
		margin: 0;
		background-color: #181F1C;
	}

	.right-column-menu-container-mob {
		width: 15%;
		height: 100%;
		float: left;
		margin-top: 450px;
	}

	.right-column-menu-open-mob,
	.right-column-menu-close-mob {
		display: block;
		position: relative;
		float: left;
		width: 100%;
		height: 50px;
		background-color: #181F1C;
		border-radius: 10px 0 0 10px;
		-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		-o-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		-ms-box-shadow: 0 0 6px rgba(0,0,0,0.5);
		box-shadow: 0 0 6px rgba(0,0,0,0.5);
	}

	.right-column-menu-close-mob {
		display: none;
	}

	.right-column-menu-open-mob:hover,
	.right-column-menu-close-mob:hover {
		cursor: pointer;
		background-color: #329932;
	}

	.right-column-menu-open-mob img,
	.right-column-menu-close-mob img {
		height: 30px;
		display: table;
		margin: 10px auto;
	}

	.right-column-text-frt-mob,
	.right-column-text-ort-mob {
		display: block;
		width: 100%;
		height: 20%;
		margin: 0 auto;
		float: left;
		border-top: 1px solid rgba(0,0,0,0.2);
	}

	.right-column-text-frt-mob {
		background-color: #329932;
	}

	.right-column-text-ort-mob {
		background-color: #B92F2F;
	}

	.right-column-text-frt-mob h2,
	.right-column-text-ort-mob h2 {
		width: 100%;
		text-align: center;
		color: white;
		padding-top: 10px;
		margin: 0;
	}

	.img-cont {
		display: block;
		height: 100%;
	}

	.text-img-mob {
		display: block;
		position: absolute;
	    width: 95.6%;
	    font-size: 30px;
	    background-color: rgba(192,32,64,0.8);
	    padding: 20px 0;
	    margin: 62.5px 0;
	    text-align: center;
	    color: white;
	    text-shadow: 0 0 3px black;
	    border-top: 1px solid #C02040;
    	border-bottom: 1px solid #C02040;
	}

	.img-cont .img {
		height: 95%;
		margin: 2.5% 0;
	}

	.img-text {
		display: none;
	}

	.list-column-categories {
		height: 150px;
	}

	.catalogue-categories {
		width: calc(96% - 2px);
		margin: 1.5% 2%;
	}

	.catalogue-elem {
		width: calc(96% - 2px);
		margin: 1.5% 2%;
		height: 200px;
	}

	.img-cont .img-categories {
		width: 220px;
		margin: 5px auto;
	}

	.img-cont .img img {
		width: 100%;
		height: auto;
		margin-top: 5px;
	}

	#melagrano img,
	#cavolfiore-b img,
	#canasta img,
	#borlotto img,
	#pesca img,
	#susina-n img,
	#italia img,
	#matilde img,
	#cavolfiore-v img,
	#cicoria img,
	#cipolla-bianca img,
	#casolino img,
	#pepe-friggitel img,
	#minianguria img,
	#ficodindia img,
	#limone-g img,
	#limone-v img,
	#mandarance img,
	#nova img,
	#tarocco img,
	#basilico img,
	#broccolo img,
	#cime img,
	#lattuga img,
	#indivia img,
	#prezzemolo img,
	#rucola img,
	#patata img,
	#zucca-spinosa img,
	#mandarino img,
	#miyagawa img,
	#melacotogna img,
	#vittoria img,
	#red-globe img,
	#spinacia img,
	#aglio img,
	#carciofo img,
	#cipolla-dorata img,
	#piattella img,
	#finocchio img,
	#melanzana-viola img,
	#pomo-tondo img,
	#verza img,
	#zucca-gialla img,
	#zucchina-verde img,
	#zucchina-lunga img,
	#cetrangolo img,
	#pepe-cornetto-rosso img {
		width: 100%;
		height: auto;
		margin-top: 5px;
	}
}

@media screen and ( max-width:400px ) {
	.catalogue-elem {
		width: calc(96% - 2px);
		margin: 1.5% 2%;
		height: 150px;
	}

	.text-img-mob {
		font-size: 25px;
		padding: 10px 0;
		margin: 49px 0;
	}

}