/*Ultimo Aggiornamento 6-1-18*/
#anguria {
	display: none;
}

#minianguria {
	display: none;
}

#melone {
	display: none;
}

#ficodindia {
	display: block;
}

#limone-g {
	display: block;
}

#limone-v {
	display: none;
}

#mandarance {
	display: block;
}

#mandarino {
	display: block;
}

#miyagawa {
	display: none;
}

#nova {
	display: none;
}

#arancia-navel {
	display: block;
}

#arancia-tarocco {
	display: block;
}

#melacotogna {
	display: none;
}

#melagrano {
	display: block;
}

#pesca {
	display: none;
}

#tabacchiera {
	display: none;
}

#susina-n {
	display: none;
}

#italia {
	display: none;
}

#matilde {
	display: none;
}

#vittoria {
	display: none;
}

#leopoldo {
	display: none;
}

#red-globe {
	display: none;
}

#basilico {
	display: block;
}

#bieta {
	display: block;
}

#broccolo {
	display: block;
}

#cavolfiore-b {
	display: block;
}

#cavolfiore-v {
	display: block;
}

#cavolo {
	display: block;
}

#cime {
	display: block;
}

#cipollotto {
	display: block;
}

#lattuga {
	display: block;
}

#canasta {
	display: block;
}

#cicoria {
	display: block;
}

#indivia {
	display: block;
}

#prezzemolo {
	display: block;
}

#rucola {
	display: block;
}

#sedano {
	display: block;
}

#senape {
	display: block;
}

#spinacia {
	display: block;
}

#aglio {
	display: block;
}

#carciofo {
	display: block;
}

#cetriolo {
	display: block;
}

#cetrangolo {
	display: none;
}

#cipolla-b {
	display: block;
}

#cipolla-d {
	display: block;
}

#borlotto {
	display: none;
}

#fagiolino {
	display: block;
}

#casolino {
	display: none;
}

#piattella {
	display: none;
}

#finocchio {
	display: block;
}

#pepe-friggitel {
	display: none;
}

#melanzana {
	display: block;
}

#melanzana-viola {
	display: block;
}

#patata {
	display: block;
}

#pepe-cornetto-rosso {
	display: none;
}

#pepe-cornetto-verde {
	display: block;
}

#pepe-piccante {
	display: block;
}

#pepe-giallo {
	display: none;
}

#pepe-rosso {
	display: block;
}

#pepe-verde {
	display: block;
}

#ciliegino {
	display: block;
}

#pixel {
	display: block;
}

#pomo-tondo {
	display: block;
}

#pomo-verde {
	display: block;
}

#verza {
	display: block;
}

#zucchina-bianca {
	display: none;
}

#zucchina-verde {
	display: block;
}

#zucca-gialla {
	display: block;
}

#zucca-spinosa {
	display: none;
}

#zucchina-lunga {
	display: none;
}
