.container {
	position: relative;
	float: left;
	width: 95%;
	height: 95%;
	margin: 2.5%;
	margin-top: calc(2.5% + 112px);
}

.elevator {
	width: 48px;
	height: 48px;
	position: fixed;
	right: -80px;
	bottom: 30px;
	border-radius: 10px;
	border: 1px solid #329932;
	background-color: rgba(24,31,28,0.5);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-o-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.elevator:active {
	background-color: rgba(24,31,28,1);
	-webkit-transition: 0s ease-in-out;
	-moz-transition: 0s ease-in-out;
	-o-transition: 0s ease-in-out;
	-ms-transition: 0s ease-in-out;
	transition: 0s ease-in-out;
}

.elevator i {
	width: 48px;
	height: 48px;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: white;
}

.introduct {
	width: 100%;
	height: 100%;
	float: left;
	border-bottom: 1px solid #181F1C;
}

.introduct h1 {
	text-align: center;
	font-size: 1.8em;
	color: #181F1C;
}

.introduct h5 {
	text-align: center;
	font-size: 1.2em;
	color: #181F1C;
	font-weight: 400;
}

#aggiornamento {
	width: 100%;
	height: auto;
	border-radius: 20px;
	border: 1px solid #329932;
	margin: 20px 0
}

#aggiornamento p {
	text-align: center;
	color: #329932;
}

.catalogue {
	width: 100%;
	height: 100%;
	float: left;
}

.fruit,
.verdure,
.ortages {
	width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px 0;
   -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-o-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.fruit {
	color: #BA082B;
}

.verdure {
	color: #329932;
}

.ortages {
	color: #731D1D;
}

.fruit h3,
.verdure h3,
.ortages h3 {
	display: block;
	text-align: center;
	font-size: 1.4em;
}

.fruit #frt-close {
	color: #BA082B;
}

.verdure #vrd-close {
	color: #329932;
}

.ortages #ort-close {
	color: #731D1D;
}

.catalogue-elem {
	width: calc(24% - 2px);
	height: 240px;
	border-radius: 20px;
	overflow: hidden;
	float: left;
	margin: 1.5% 0.5%;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-o-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.frt {
	border: 1px solid #BA082B;
}

.frt-text {
	background-color: #BA082B;
}

.vrd {
	border: 1px solid #329932;
}

.vrd-text {
	background-color: #329932;
}

.ort {
	border: 1px solid #A52A2A;
}

.ort-text {
	background-color: #A52A2A;
}

.img-cont {
	width: 100%;
	height: 80%;
	margin: 0 auto;
	display: table;
	float: left;
}

.img-cont .img {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}

.img-cont img {
	width: 80%;
	margin: 0 auto;
	display: table-cell;
}

#melagrano img,
#cavolfiore-b img,
#canasta img {
	width: 45%;
}

#borlotto img {
	width: 50%;
}

#pesca img,
#susina-n img,
#italia img,
#matilde img,
#cavolfiore-v img,
#cicoria img,
#cipolla-bianca img,
#casolino img,
#pepe-friggitel img {
	width: 55%;
}

#minianguria img,
#ficodindia img,
#limone-g img,
#limone-v img,
#mandarance img,
#nova img,
#tarocco img,
#basilico img,
#broccolo img,
#cime img,
#lattuga img,
#indivia img,
#prezzemolo img,
#rucola img,
#patata img,
#zucca-spinosa img {
	width: 60%;
}

#mandarino img,
#miyagawa img,
#melacotogna img,
#vittoria img,
#red-globe img,
#spinacia img,
#aglio img,
#carciofo img,
#cipolla-dorata img,
#piattella img,
#finocchio img,
#melanzana-viola img,
#pomo-tondo img,
#verza img,
#zucca-gialla img,
#zucchina-verde img {
	width: 65%;
}

#cetrangolo img,
#pepe-cornetto-rosso img,
#zucchina-lunga img {
	width: 70%;
}

.img-text {
	width: 100%;
	height: 20%;
	margin: 0 auto;
	float: left;
	border-top: 1px solid rgba(0,0,0,0.2);
}

.img-text h2 {
	width: 100%;
	text-align: center;
	color: white;
	padding-top: 10px;
	margin: 0;
}

@media only screen and (max-width : 992px) {

	.catalogue-elem {
		width: calc(48% - 2px);
		margin: 1.5% 1%;
	}

	.img-cont img {
		width: 55%;
	}

	#melagrano img,
	#cavolfiore-b img,
	#canasta img {
		width: 35%;
	}

	#borlotto img {
		width: 40%;
	}

	#pesca img,
	#susina-n img,
	#italia img,
	#matilde img,
	#cavolfiore-v img,
	#cicoria img,
	#cipolla-bianca img,
	#casolino img,
	#pepe-friggitel img {
		width: 45%;
	}

	#minianguria img,
	#ficodindia img,
	#limone-g img,
	#limone-v img,
	#mandarance img,
	#nova img,
	#tarocco img,
	#basilico img,
	#broccolo img,
	#cime img,
	#lattuga img,
	#indivia img,
	#prezzemolo img,
	#rucola img,
	#patata img,
	#zucca-spinosa img {
		width: 50%;
	}

	#mandarino img,
	#miyagawa img,
	#melacotogna img,
	#vittoria img,
	#red-globe img,
	#spinacia img,
	#aglio img,
	#carciofo img,
	#cipolla-dorata img,
	#piattella img,
	#finocchio img,
	#melanzana-viola img,
	#pomo-tondo img,
	#verza img,
	#zucca-gialla img,
	#zucchina-verde img,
	#zucchina-lunga img {
		width: 55%;
	}

	#cetrangolo img,
	#pepe-cornetto-rosso img {
		width: 70%;
	}

}

@media only screen and (max-width : 600px) {

	.img-cont img {
		width: 50%;
	}

	.catalogue-elem {
		width: calc(96% - 2px);
		margin: 1.5% 2%;
	}

	#melagrano img,
	#cavolfiore-b img,
	#canasta img {
		width: 30%;
	}

	#pesca img,
	#susina-n img,
	#italia img,
	#matilde img,
	#cavolfiore-v img,
	#cicoria img,
	#cipolla-bianca img,
	#borlotto img,
	#casolino img,
	#pepe-friggitel img {
		width: 35%;
	}

	#minianguria img,
	#ficodindia img,
	#limone-g img,
	#limone-v img,
	#mandarance img,
	#nova img,
	#tarocco img,
	#basilico img,
	#broccolo img,
	#cime img,
	#lattuga img,
	#indivia img,
	#prezzemolo img,
	#rucola img,
	#patata img,
	#zucca-spinosa img {
		width: 40%;
	}

	#mandarino img,
	#miyagawa img,
	#melacotogna img,
	#vittoria img,
	#red-globe img,
	#spinacia img,
	#aglio img,
	#carciofo img,
	#cipolla-dorata img,
	#piattella img,
	#finocchio img,
	#melanzana-viola img,
	#pomo-tondo img,
	#verza img,
	#zucca-gialla img,
	#zucchina-verde img,
	#zucchina-lunga img {
		width: 45%;
	}

	#cetrangolo img,
	#pepe-cornetto-rosso img {
		width: 60%;
	}

}