/*Container*/
.container {
	width: 95%;
	height: 100%;
    margin: 112px 2.5% 20px 2.5%;
    float: left;
}
/*Container*/

/*Sezione-superiore*/
.head-title {
	width: 100%;
	height: auto;
	margin: 30px 0;
	float: left;
}

/*Navigation-link*/
.navigation-link {
	width: 100%;
	margin-bottom: 30px;
}

.navigation-link a {
	color: #181F1C;
	text-decoration: none;
}

.navigation-link a:hover {
	text-decoration: underline;
}

.navigation-link p {
	display: inline;
	color: #BA082B;
}
/*Navigation-link*/

/*Title*/
.head-title #img-icon-cont {
	width: 100%;
	height: auto;
	float: left;
}

#img-icon-cont img {
	width: 48px;
	height: auto;
	display: table-cell;
	margin: 0 auto;
}

.head-title h1 {
	width: 100%;
	font-size: 2em;
	text-align: center;
	color: #BA082B;
	float: left;
}
/*Title*/
/*Sezione-superiore*/

.img-description {
	width: 100%;
	margin: 0;
	float: left;
}

/*Photo*/
.img-description .img-cont {
	width: 60%;
    border-radius: 0;
    float: left;
    -webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

.img-description .img-cont img {
	width: 60%;
    float: left;
    padding: 5%;
    margin: 0 15%;
    border-radius: 20px 0 20px 0;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
/*Photo*/

.img-description .text-description-cont {
	width: 40%;
	margin: 0;
	float: left;
}

/*Text-description*/
.text-description {
	width: 95%;
    margin: 0 2.5%;
    float: left;
}

.text-description-cont .text-description h3 {
	width: 100%;
	text-align: left;
	color: #BA082B;
	margin-top: 0;
}

.features h3 {
	width: 100%;
	margin: 20px 0;
	text-align: center;
	color: #BA082B;
}

.text-description p {
	text-align: left;
	font-size: 1em;
	line-height: 1.8;
	letter-spacing: 2px;
}

.text-description p > a {
	color: #329932;
	text-decoration: none;
}

.text-description p > a:hover {
	color: #329932;
}
/*Text-description*/

/*Specifications*/
.features {
	width: 100%;
	margin: 0;
	float: left;
}

.features .features-container {
	width: 100%;
	height: 100%;
	float: left;
}

.sup-cont,
.sub-cont {
	width: 100%;
	height: auto;
	float: left;
}

.head-subtitle,
.mid-subtitle, 
.midlast-subtitle,
.last-subtitle {
	width: 47.5%;
	margin: 15px 0;
	float: left;
}

.head-subtitle,
.mid-subtitle {
	margin: 0 2.5% 0 0;
}

.midlast-subtitle,
.last-subtitle {
	margin: 0 0 0 2.5%;
}

.year-production {
	width: 100%;
	height: auto;
	float: left;
}

.year-production .month {
	width: calc(24% - 2px);
	height: 62.6px;
	margin: 0 0.5%;
	border: 1px solid #BA082B;
	background-color: white;
	float: left;
}

#gen,
#feb,
#mar,
#apr,
#mag,
#giu,
#lug,
#ago {
	margin: 0 0.5% 4px 0.5%;
}

#gen {
	border-radius: 20px 0 0 0;
}

#apr {
	border-radius: 0 20px 0 0;
}

#set {
	border-radius: 0 0 0 20px;
}

#dic {
	border-radius: 0 0 20px 0;
}

.content-month {
	width: 100%;
	height: 50px;
	display: table;
	float: left;
}

.content-month > p,
.tipology > p {
	width: 100%;
	height: 62.6px;
	color: #BA082B;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.tipology {
	width: 100%;
	border-radius: 20px;
	border: 1px solid #BA082B;
	display: table;
	float: left;
}

.progress-bar {
	width: 100%;
	height: 60.2px;
	border: 1px solid #BA082B;
	border-radius: 20px;
	float: left;
	overflow: hidden;
}

.slice-bar {
	width: 10%;
	height: 100%;
	float: left;
}

#dieci,
#venti,
#trenta,
#quaranta,
#cinquanta,
#sessanta,
#settanta,
#ottanta,
#novanta,
#cento {
	width: 10%;
	height: 62.2px;
	float: left;
}

/*colore #BA082B*/
.progress-bar p {
	position: absolute;
	width: 45.1%;
    margin: 20.2px 0;
	text-align: center;
	color: #BA082B;
	font-weight: 600;
}

.method {
	width: calc(100% - 1px);
	height: 200px;
	border: 1px solid #BA082B;
	border-radius: 20px;
}

#cassa,
#confezione {
	height: 100px;
	float: left;
	display: table;
}

#cassa {
	width: calc(50% - 1px);
	border-right: 1px solid #BA082B;
}

#confezione {
	width: 50%;
}

.cassa-img-cont,
.conf-img-cont {
	width: 100%;
	height: 200px;
	float: left;
	margin: 0 auto;
}

.cassa-img-cont img,
.conf-img-cont img {
	height: 70px;
	margin: 0 auto;
	display: table;
}


.cassa-img-cont h2,
.conf-img-cont h2 {
	font-size: 1.3em;
}

.cassa-img-cont h2,
.conf-img-cont h2,
.cassa-img-cont p,
.conf-img-cont p {
	margin: 22px 0;
	text-align: center;
	color: #BA082B;
	font-weight: 600;
}
/*Specifications*/

/*Page before-after*/
.page-bef-aft {
	float: left;
	width: 40%;
	height: 50px;
	margin: 30px 30%;
	border: 1px solid #181f1c;
	border-radius: 20px;
	overflow: hidden;
}

#page-before,
#current-page,
#page-after {
	float: left;
}

#page-before,
#page-after {
	width: 25%;
	height: 50px;
	background-color: #BA082B;
}

#page-before:hover,
#page-after:hover {
	background-color: #940622;
}

#current-page {
	width: 50%;
	height: 50px;
}

#page-before i,
#current-page i,
#page-after i {
	width: 1%;
	height: 50px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}

#current-page p {
	width: 1%;
	height: 50px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #BA082B;
	font-weight: 600;
	font-size: 1.4em;
}
/*Page before-after*/

@media only screen and (max-width : 992px) {

	.container {
		margin: 72px 2.5% 5% 2.5%;
	}

	.img-description .img-cont {
		width: 100%;
		margin-bottom: 30px;
		height: auto;
		float: left;
	}

	.img-description .text-description-cont {
		width: 100%;
		float: left;
	}

	.img-description .text-description-cont .text-description h3,
	.img-description .text-description-cont .text-description p {
		text-align: center;
	}

	.text-description p {
		font-size: 1.2em;
	}

	.features .features-container .sup-cont .head-subtitle,
	.features .features-container .sup-cont .midlast-subtitle,
	.features .features-container .sub-cont .mid-subtitle,
	.features .features-container .sub-cont .last-subtitle {
		width: 100%;
		margin: 0 0 50px 0;
		float: left;
	}

	.progress-bar p {
		width: 95%;
		margin: 20.6px 0;
	}

	.page-bef-aft {
		float: left;
		width: 95%;
		margin: 30px 2.5%;
	}
} 

@media only screen and (max-width : 992px) {

	#current-page p {
		font-size: 1.2em;
	}

}