/*Image zoom*/
.img-wide-cont {
	position: fixed;
	width:100%;
	height: 100%;
	top: 0;
	left: -100%;
	background-color: white;
	z-index: 999999999;
	border-right: 1px solid #BA082B;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.img-wide-cont #close-wide {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 10px;
	left: 10px;
}

#close-wide > i {
	font-size: 30px;
	text-align: center;
	color: #181F1C;
}

.img-wide-cont i:hover {
	cursor: pointer;
}

.img-wide {
	height: 95%;
	margin: 1.7% auto;
	display: table;
}
/*Image zoom*/

/*Container*/
.container {
	width: 95%;
	height: 100%;
	margin: 112px 2.5% 10% 2.5%;
	float: left;
}
/*Container*/

/*Sezione-superiore*/
.head-title {
	width: 100%;
	height: auto;
	margin: 30px 0;
	float: left;
}

/*Navigation-link*/
.navigation-link {
	width: 100%;
	margin-bottom: 30px;
}

.navigation-link a {
	color: #181F1C;
	text-decoration: none;
}

.navigation-link a:hover {
	text-decoration: underline;
}

.navigation-link p {
	display: inline;
	color: #BA082B;
}
/*Navigation-link*/

/*Title*/
.head-title #img-icon-cont {
	width: 100%;
	height: auto;
	float: left;
}

#img-icon-cont img {
	width: 48px;
	height: auto;
	display: table-cell;
	margin: 0 auto;
}

.head-title h1 {
	width: 100%;
	font-size: 2em;
	text-align: center;
	color: #BA082B;
	float: left;
}
/*Title*/
/*Sezione-superiore*/

/*Photo*/
.img-description {
	width: 60%;
	height: 500px;
	margin: 0;
	float: left;
}

.img-description .img-cont {
	width: 100%;
	height: 500px;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	border-radius: 20px 0 0 20px;
}

.img-description .img-cont img {
	width: 85%;
	height: auto;
	margin: 5% 0;
	padding: 5%;
	border-radius: 20px;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

.img-description .img-cont img:hover {
	cursor: zoom-in;
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	-ms-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}
/*Photo*/

/*Text-description*/
.text-description {
	width: 95%;
    height: 300px;
    float: left;
    margin: 0 5% 0 0;
}

.description .text-cont h3,
.text-description h3 {
	width: 100%;
	text-align: center;
	color: #BA082B;
	margin-top: 30px;
}

.text-description p {
	text-align: justify;
	font-size: 1.1em;
	line-height: 1.5;
	letter-spacing: 2px;
}

.text-description p > a {
	color: #329932;
	text-decoration: none;
}

.text-description p > a:hover {
	color: #329932;
}
/*Text-description*/

/*Specifications*/
.description {
	width: 40%;
	height: 800px;
	margin: 0;
	float: left;
}

.description .text-cont {
	width: 100%;
	height: 100%;
	float: left;
}

.head-subtitle, 
.midlast-subtitle,
.last-subtitle {
	width: 100%;
	float: left;
}

.year-production {
	width: 100%;
	height: auto;
	float: left;
}

.year-production .month {
	width: calc(24% - 2px);
	height: 50px;
	border: 1px solid #BA082B;
	background-color: white;
	margin: 0 0.5% 1% 0.5%;
	float: left;
}

#gen {
	border-radius: 20px 0 0 0;
}

#apr {
	border-radius: 0 20px 0 0;
}

#set {
	border-radius: 0 0 0 20px;
}

#dic {
	border-radius: 0 0 20px 0;
}

.content-month {
	width: 100%;
	height: 50px;
	display: table;
	float: left;
}

.content-month > p,
.tipology > p {
	width: 100%;
	height: 50px;
	color: #BA082B;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.tipology {
	width: 100%;
	border-radius: 20px;
	border: 1px solid #BA082B;
	display: table;
	float: left;
}

.progress-bar {
	width: 100%;
	height: 50px;
	border: 1px solid #BA082B;
	border-radius: 20px;
	float: left;
	overflow: hidden;
}

.slice-bar {
	width: 10%;
	height: 100%;
	float: left;
}

#dieci,
#venti,
#trenta,
#quaranta,
#cinquanta,
#sessanta,
#settanta,
#ottanta,
#novanta,
#cento {
	width: 10%;
	height: 50px;
	float: left;
}

/*colore #BA082B*/
.progress-bar p {
	position: absolute;
	width: 38%;
	text-align: center;
	color: #BA082B;
	font-weight: 600;
}

.method {
	width: 100%;
	height: 200px;
	border: 1px solid #BA082B;
	border-radius: 20px;
}

#cassa,
#confezione {
	height: 100px;
	float: left;
	display: table;
}

#cassa {
	width: calc(50% - 1px);
	border-right: 1px solid #BA082B;
}

#confezione {
	width: 50%;
}

.cassa-img-cont,
.conf-img-cont {
	width: 100%;
	height: 200px;
	float: left;
	margin: 0 auto;
}

.cassa-img-cont img,
.conf-img-cont img {
	height: 70px;
	margin: 0 auto;
	display: table;
}


.cassa-img-cont h2,
.conf-img-cont h2 {
	font-size: 1.3em;
}

.cassa-img-cont h2,
.conf-img-cont h2,
.cassa-img-cont p,
.conf-img-cont p {
	margin: 22px 0;
	text-align: center;
	color: #BA082B;
	font-weight: 600;
}
/*Specifications*/

/*Page before-after*/
.page-bef-aft {
	float: left;
	width: 40%;
	height: 50px;
	margin: 30px 30%;
	border: 1px solid #181f1c;
	border-radius: 20px;
	overflow: hidden;
}

#page-before,
#current-page,
#page-after {
	float: left;
}

#page-before,
#page-after {
	width: 25%;
	height: 50px;
	background-color: #BA082B;
}

#page-before:hover,
#page-after:hover {
	background-color: #940622;
}

#current-page {
	width: 50%;
	height: 50px;
}

#page-before i,
#current-page i,
#page-after i {
	width: 1%;
	height: 50px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}

#current-page p {
	width: 1%;
	height: 50px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #BA082B;
	font-weight: 600;
	font-size: 1.4em;
}
/*Page before-after*/

@media only screen and (max-width : 992px) {
	
	.container {
		margin: 72px 2.5% 5% 2.5%;
	}

	.img-description,
	.description  {
		width: 100%;
		height: auto;
		float: left;
	}

	.img-description .img-cont {
		height: auto;
	}

	.text-description {
		height: auto;
	}

	.img-description .img-cont img {
		margin: 20px 10%;
	}

	.progress-bar p {
		width: 95%;
	}

	.page-bef-aft {
		float: left;
		width: 95%;
		margin: 30px 2.5%;
	}
} 

@media only screen and (max-width : 992px) {

	#current-page p {
		font-size: 1.2em;
	}

}